.row{
    display: flex;
    justify-content: center;
    flex: auto;
    height: 10vw;
    border:2px solid black;
    border-bottom: 0;
}
.row:nth-last-child(1){
    border-bottom: 2px solid black;
}

.col{
    flex: auto;
    width: 10vw;
    border-collapse: collapse;
    border-right: 2px solid black;
    margin: 0;
    flex-grow: 0;
}
.col:nth-last-child(1){
    border: 0;
}
.container{
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: 95vh;
}
.colour{
    background-color: yellow;
}